edge_tts==6.1.12
langchain==0.2.16
langchain-core==0.2.38
langchain-google-genai==1.0.10
PyPDF2==3.0.1
SpeechRecognition==3.10.4
streamlit==1.38.0
streamlit_chat==0.1.1
langchain-community==0.2.16
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
PyAudio==0.2.11
